@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



.jumbotron{
  background-image: url('/kin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}